<section class="homepage-banner">
  <div class="info content-middle">
    <div class="headline-block font-oswald">
      <div class="upper-headline">Здесь есть то, что Вы ищите</div>
      <h1 class="headline">Магазин <span>кендам</span></h1>
      <div class="lower-headline">Кендама для каждого</div>
    </div>
    <div class="text">
      Теперь купить кендаму очень просто!<br>
      Посетите каталог нашего сайта чтобы купить кендаму для себя или оформить заказ в подарок.
      Поверьте, это будет очень оригинально!
    </div>

    <a href="/catalog" class="btn-primary font-oswald">
      Купить кендаму
      <svg viewBox="0 0 74 10" class="arrow">
        <use href="#arrow"></use>
      </svg>
    </a>
  </div>
  <div class="banner-images">
    <!-- <img src="/i/abstract2.jpg" alt="" class="moving-part" /> -->
    <img src="/images/photo/homepage-banner-main.jpg" alt="" class="static-part" />
  </div>

</section>