<section class="quote">
  <blockquote>
    <div class="text"><q>Мечты сбываются, когда желание становится действием<br>Просите у жизни многого — и жизнь многое
        вам даст</q></div>
    <div class="name">— <cite>Napoleon Hill</cite></div>
  </blockquote>
  <div class="bg-clippy"></div>
</section>