<div class="cart-state js-cart-state">
  <a href="/cart">
    <svg viewBox="0 -4 24 24" class="shopping-bag-svg">
      <path d="M14 4l6 6-1.372 9H5.372L4 10l6-6" />
      <svg><text x="9.5" y="16.53" text-anchor="middle" class="shopping-bag-text">
          <tspan x=12 text-anchor="middle" textLength="10">
            <tspan class="cart-value">0</tspan>
          </tspan>
        </text></svg>
      <path stroke-linecap="round" d="M4 10h16" />
    </svg>
    <!-- <div class="caption">Корзина</div> -->
  </a>
</div>
