<header>
  <div class="inner content-middle">
    <div class="first">
      <div class="logo">
        <a href="/">
          <span class="k">KENDAMA</span>
          <span class="fl">FORLIFE</span>
        </a>
      </div>
      {{>main-menu}}
    </div>
    <div class="second"></div>
    <div class="third">
      <div class="phone">
        <a href="tel:+7 (920) 358-33-89">+7 (920) 358-33-89</a>
        <svg viewBox="0 0 24 24">
          <use href="#phone"></use>
        </svg>
        <span class="callback">Обратный звонок</span>
      </div>

      <a class="auth-btn" href="/auth/login">
        <i class="icon-login"></i>
        <span class="title">Личный<br>кабинет</span>
      </a>

        {{>cart-state-desktop}}
    </div>
  </div>

  <nav class="mobile-navigation js-mobile-navigation" data-first="q" data-second="w" data-third="e">
    <nav class="items">
      <a href="/" class="item home">
        <svg viewBox="0 0 512 512">
          <use href="#home-icon"></use>
        </svg>
        <div class="caption">Главная</div>
      </a>

      <a href="/cart.html" class="item help">
        <svg viewBox="0 0 129.8 87.7">
          <use href="#help-icon"></use>
        </svg>
        <div class="caption">Помощь</div>
      </a>

      <a href="/catalog.html" class="item catalog">
        <svg viewBox="0 0 129.8 87.7">
          <use href="#catalog-icon"></use>
        </svg>
        <div class="caption">Каталог</div>
      </a>

      <a class="item menu js-menu">
        <svg viewBox="0 0 129.8 87.7">
          <use href="#menu-icon"></use>
        </svg>
        <div class="caption">Меню</div>
      </a>
      {{>cart-state-mobile}}
    </nav>

    {{>main-mobile-menu}}
  </nav>
</header>
