<div class="policy-menu">
  <nav>
    {{#each @root.policiesMenu}}
      <a href="{{this.url}}" class="{{this.isActive}}">
        <span class="name">{{this.name}}</span>
      </a>
    {{/each}}
  </nav>
</div>
