<section class="bestoffer">
  <div class="headline-block common-headline content-middle">
    <h2 class="font-oswald"><span>Лучшие</span> предложения</h2>
    <div class="text">Предложения, на которые стоит обратить внимание</div>
  </div>

  <div class="inner common-carousel js-common-carousel-holder content-middle">
    <div class="items js-common-carousel" data-amount-in-group=3 data-counter=false>
      <div class="product-item js-product-item" common data-index="##rowNumber##">
        <div class="inner">
          <div class="additional-photo js-additional-photo ##additional_photo_display##">
            ##additional_photo##
          </div>

          <a href="##Href##" class="info ##additional_photo_none##">
            <div class="labels ##discount_class## ##new_class## ##hot_class##">
              <div class="item new"><span class="icon icon-rocket"></span></div>
              <div class="item hot"><span class="icon icon-fire"></span></div>
            </div>

            <div class="name">##Name##</div>

            <div class="images">
              <img src="" alt="Alternative photo for ##xml-product_chr_name##" class="js-alternative-image"
                data-photo-src="##seconod_photo##" />
              <img src="" alt="##xml-product_chr_name##" class="js-image" data-photo-src="/cc480x580##Image##">

              <div class="image-border"></div>
            </div>
          </a>

          <div class="purchase">
            <div class="price ##discount_class##">
              <div class="old">##split3-product_dec_oldprice## <span class="rub">руб.</span></div>
              <div class="current">##split3-product_dec_price## <span class="rub">руб.</span></div>
              <div class="discount-value">-##discount_amount##%</div>
            </div>

            <div class="btn-buy js-btn-buy" data-product-id="##Id##">
              <svg viewBox="0 0 24 24">
                <use href="#cart-add"></use>
              </svg>
              <span class="caption">В корзину</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="controls">
      <div class="icon icon-rocket"></div>
      <div class="status-bar">
        <div class="carriage"></div>
      </div>

      <div class="prevnext-controls">
        <div class="carousel-arrow arrow-prev js-arrowPrev">
          <svg viewBox="0 0 74 10" class="arrow">
            <use href="#arrow"></use>
          </svg>
        </div>

        <div class="carousel-arrow arrow-next js-arrowNext">
          <svg viewBox="0 0 74 10" class="arrow">
            <use href="#arrow"></use>
          </svg>
        </div>
      </div>

      <a href="/catalog/" class="btn-catalog btn-primary font-oswald">
        Купить кендаму
        <svg viewBox="0 0 74 10" class="arrow">
          <use href="#arrow"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="bg-clippy"></div>
</section>