<section class="homepage">
  {{> homepage/about-us }}

  {{> common/products-best-offer }}

  {{> homepage/advantages-and-news }}

  {{> homepage/quote }}

  {{> common/products-most-famous }}

  {{> homepage/reviews-vkontakte }}

  {{> homepage/advantages-horizontal }}
</section>