<section class="reg js-reg-section content-middle">
  <h1>Зарегистрироваться в системе</h1>

  <form class="reg-form js-reg-form" method="post" data-form-fetch data-form-response>
    <p ></p>
    <label class="primary type2 email">
      <div class="placeholder">Email</div>
      <input type="email" name="user_chr_email" value="" autocomplete="email" data-js-placeholder required>
    </label>

    <label class="primary type2 password">
      <div class="placeholder">Пароль</div>
      <input type="password" name="user_chr_pass" value="" autocomplete="new-password" data-js-placeholder required>
    </label>

    <label class="primary type2 repassword">
      <div class="placeholder">Повторите пароль</div>
      <input type="password" name="user_chr_repass" value="" autocomplete="current-password" data-js-placeholder required>
    </label>

    <div class="control-group">
      <button class="btn-secondary" type="submit">Зарегистрироваться</button>
      <p>Уже есть аккаунт? <br>Предлагаем <a href="/auth/login">авторизоваться</a>.</p>
    </div>
  </form>
</section>
