<a href="/cart.html" class="item cart js-cart-state-mobile">
  <svg viewBox="0 0 129.8 87.7">
    <use href="#cart-icon"></use>
  </svg>
  <div class="caption">Корзина</div>
  <div class="amount"><span class="value">0</span></div>
</a>
